
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header start */

.header {
  background-color: #1F2937;
  padding: 15px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
}


.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

nav {
  max-width: 350;
  width: 350px;
}

.links {
  font-size: 18px;
  list-style-type: none;
  color: #e5e7eb;
  display: flex;
  justify-content: space-evenly;
 } 

.links a {
  text-decoration: none;
  color: #e2e8f0;
}

.links a:hover {
  color: #f9faf8;
}

/* header end */