
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header-section start */

.header {
  background-color: #1F2937;
  padding: 15px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
}


.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

nav {
  max-width: 350;
  width: 350px;
}

.links {
  font-size: 18px;
  list-style-type: none;
  color: #e5e7eb;
  display: flex;
  justify-content: space-evenly;
 } 

.links a {
  text-decoration: none;
  color: #e2e8f0;
}

.links a:hover {
  color: #f9faf8;
}

/* header-section end */

/* about-section start */

.about {
  background-color: #1F2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  gap: 20px;
  flex-wrap: wrap;
}

.mindful-image {
  width: 400px;
  height: auto;
}

.info h1 {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

.info p {
  color: #e5e7eb;
  font-size: 18px;
}

.info a {
  background-color: #3882f6;
  color:#f9faf8;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 900;
  border-radius: 10px;
}

.info a:hover {
  background-color: #4e90fa;
}

.info {
  display: flex;
  flex-flow: column wrap;
  width: 400px;
  margin-left: 140px;
  margin-right: 0;
}

.sign-up-about {
  margin-top: 20px;
}

.mindful-image {
  margin-right: 160px;
  margin-left: 0;
}

/* about-section end */

/* more-info-section start */

.more-info {
  background-color: #f9faf8;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.services ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.services li {
  width: 200px;
  padding: 20px;
  padding-bottom: 50px;
}

.more-info h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 30px;
}

.more-info ul {
  color: #1F2937;
  list-style-type: none;
}

.memory, .dreams, .advanced {
  height: auto;
  width: 100px;
}

.lucid {
  height: auto;
  width: 98px;
}

/* more-info-section end */

/* testimonial section start */

.testimonial {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  width: 900px;
  padding: 100px 100px 0 100px;
  font-weight: lighter;
  font-style: italic;
  flex-wrap: wrap;
}

cite {
  font-weight: 900;
  font-style: normal;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 20px 0 100px 0;
  margin-left: 250px;
  
}

/* testimonial section end */